*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}
body{
    font-family: 'roboto', arial, helvetica, sans-serif;
    color: var(--dark-grey);
}

a{
    color: var(--dark-grey);
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

:root{
    --white: #FFFFFF;
    /*banner*/
    --grey: #D8D8D8;
    --dark-grey: #4A4A4A;
    --light-grey: #EAEBEC;
    --font-grey: #9B9B9B;
    --blue: #5193E3;
}

li{
    list-style: none;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    height: 32px;
}

.logo >span{
    text-transform: uppercase;
}

.logo :nth-child(3){
    font-weight: 300;
    color: var(--font-grey);
}

nav ul{
    display: flex;
    gap: 16px;
}

/* banner */

.banner{
    width: 100%;
    background-color: var(--grey);
    display: flex;
}

.banner-left{
    padding: 32px 24px;
    width: 60%;
}

.banner-left img{
    width: 100%;
    height: 100%;
}

.banner-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-right button{
    background-color: var(--dark-grey);
    padding: 8px 0;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
}

/* sub-banner */

.sub-banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sub-banner-left{
    padding: 32px 24px 32px 24px;
    border-right: solid 1px var(--grey);
    width: 60%;
}
.sub-banner-img img{
    width: 100%;
    height: 100%;
}

.sub-banner-text{
    display: flex;
    flex-direction: column;
}

.sub-banner-text >h1{
    padding-top: 32px;
    padding-bottom: 24px;
}

.sub-banner-text >p{
    font-weight: 300;
}

.sub-banner-text >span{
    padding-top: 16px;
}

.sub-banner-right{
    width: 40%;
    padding-top: 16px;
    padding-bottom: 32px;
}
.sub-banner-box{
    display: flex;
}

.sub-banner-box:hover{
    background-color: var(--grey);
}

.sub-banner-right-img{
    width: 35%;
    height: auto;
    padding: 16px 24px 16px 16px;
}

.sub-banner-right-img img{
    width: 100%;
    height: 100%;
}

.sub-banner-right-text{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.sub-banner-right-text >p{
    font-weight: 100;
}

.sub-banner-right-text >a{
    font-weight: 300;
    color: var(--blue);
}


/* start learning */

.learning{
    background-color: var(--light-grey);
    height: 100%;
    padding-bottom: 32px;
}

.head-learning{
    padding: 32px 0;
    text-align: center;
}

.learning-box{
    display: flex;
    padding: 0 72px;
    flex-wrap: wrap;
    gap: 32px;
}

.learning-card{
    background-color: var(--white);
    flex-grow: 1;
    width: 30%;
    overflow: hidden;
}

.learning-card:hover{
    box-shadow: 10px 10px 10px rgba(0 , 0, 0, 0.1);
}

.learning-pic{
    height: auto;
}

.learning-pic img{
    width: 100%;
    height: 100%;
}

.learning-text{
    padding: 16px 16px 24px 16px;
}

.learning-text > h2{
    margin-bottom: 8px;
}

.learning-text >span{
    font-weight: 100;
}

.learning-text >p{
    font-weight: 100;
    margin-top: 8px;
}

/* thesis */

.thesis{
    border-bottom: solid 1px var(--grey);
}
.head-thesis{
    text-align: center;
    padding: 32px 0;
}

.thesis-box{
    display: flex;
}

.thesis-left{
    width: 60%;
    padding: 0 24px
}

.thesis-left video{
    width: 100%;
}

.thesis-left-text{
    padding-top: 24px;
    padding-bottom: 32px;
}

.thesis-left-text >h2{
    padding-bottom: 8px;
}

.thesis-right{
    width:  40%;
}

.thesis-card{
    display: flex;
    flex-direction: row;
}

.thesis-card:hover{
    background-color: var(--grey);
}

.thesis-img{
    width: 35%;
    height: auto;
    padding: 16px 16px;
}

.thesis-img img{
    width: 100%;
    height: 100%;
}

.thesis-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */

footer{
    padding: 16px 16px 48px 16px;
    display: flex;
    justify-content: space-between;
}

.footer-right ul{
    display: flex;
    gap: 16px;
}
